{% extends "panel.twig" %}

{% block panel %}

<h2 class="page-header">Caixa</h2>

  {% if error is not empty %}
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{ error }}
      </div>
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="btn btn-success" href="{{ baseUrl() }}/cash/new"><span class="glyphicon glyphicon-plus"></span></a>
    </div>

    <div class="panel-body">
      <div class="row header-table">
        <div class="col-xs-1 col-md-2">ID</div>
        <div class="col-xs-3 col-md-4">Data</div>
        <div class="col-xs-3 col-md-4">Total</div>
        <div class="col-xs-2 col-md-2">Ações</div>
      </div>
      <div class="row content-table">
        {% if cash_list is not empty %}
          {% for cash in cash_list %}
            <div class="line-table">
              <div class="col-xs-1 col-md-2">{{ cash.id }}</div>
              <div class="col-xs-3 col-md-4">{{ cash.date }}</div>
              <div class="col-xs-3 col-md-4">{{ cash.total }}</div>
              <div class="col-xs-2 col-md-2">
                <a href="{{ baseUrl() }}/cash/edit/{{ cash.id }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                <button data-url="{{ baseUrl() }}/cash/delete/{{ cash.id }}" onclick="confirmDelete(this)" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
              </div>
            </div>
          {% endfor %}
        {% else %}
            <div class="line-table text-center">
              <div class="col-xs-12 col-md-12">Não foram encontrados registros</div>
            </div>
        {% endif %}
      </div>
    </div>

  </div>

  {% include 'pagination.twig' %}

{% endblock %}
